<div class="fx-display">   
    <div class="pop1">
        <img src="/assets/popcorn-png-22.png" style="height: 300px;">
    </div>     
    <!--CAROUSEL THEATRE IMAGE LOGOS-->
    <div>
        <div class="slideshow-container">

            <div class="mySlides fade" id ="AMC-img">                
                <img src="/assets/AMC-Theatres.jpg" style="width:100%">
            </div>

            <div class="mySlides fade" id="CINEMARK-img">        
                <img src="/assets/Cinemark_Theatres.jpg" style="width:100%">
            </div>

            <div class="mySlides fade" id="MEGAPLEX-img">        
        
                <img src="/assets/Megaplex_Theatres.jpg" style="width:100%">
            </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br />
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
  <div class="pop2">
    <img src="/assets/popcorn-png-22.png" style="height: 300px;" />
  </div>
</div>
<main>
  <section class="fx-display">
    <!--LEFT SIDE-->
    <div class="selected-theatre">
      <div class="theatre-name">
        <!--MOVIE THEATER SELECTED-->
        {{theatre_name}}
      </div>
      <div class="theatre-address">
        <div>
          <!--SELECTED MOVIE THEATER ADDRESSES-->
          {{theatre_address}}
        </div>
      </div>
    </div>
    <!--RIGHT SIDE-->
    {{#if reviews.length}}
      <div class="review">
        {{#each reviews as |review|}}
          <!--SELECTED MOVIE THEATER ADDRESS COMMENT/REVIEW-->
          <div>
            {{review.name}}:
            {{review.text}}
            <br />
            {{review.email}}
          </div>
        {{/each}}
        <div class="review-input">
          <form class="review-form">
            <div>
              <label for="name-input">Name:</label>
              <input type="text" id="name-review" />
            </div>
            <div>
              <label for="email-input">Email:</label>
              <input type="text" id="email-review" />
            </div>
            <div>
              <label for="review-input">Enter review comments here:</label><br
              />
              <textarea class="comments"></textarea>
            </div>
            <div>
              <button class="button-4" role="button" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  </section>
</main>