<section class="fx-display">
    <!--LEFT SIDE-->
    <div class="selected-theatre">
        <div class="theatre-name">
            <!--MOVIE THEATER SELECTED-->
            {{theatre_name}}
        </div>
        <div class="theatre-address">                    
            <div>
                <!--SELECTED MOVIE THEATER ADDRESSES-->
                {{theatre_address}}
            </div>
        </div>
    </div>
    <!--RIGHT SIDE-->
    {{#if reviews.length}}
    <div class="review">
        {{#each reviews as |review|}}
        <!--SELECTED MOVIE THEATER ADDRESS COMMENT/REVIEW-->
        <div>            
            {{review.name}}: {{review.text}} <br> 
            {{review.email}}
        </div>
        {{/each}}
        <div class="review-input">
            <form class="review-form">
                <div>
                    <label for="name-input">Name:</label>
                    <input type="text" id="name-review">
                </div>
                <div>
                    <label for="email-input">Email:</label>
                    <input type="text" id="email-review">
                </div>
                <div>
                    <label for="review-input">Enter review comments here:</label><br>
                    <textarea class="comments"></textarea>
                </div>
                <div>
                    <button class="button-4" role="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {{/if}}
</section>
<script src=></script>
